
backend/app/src/main/resources/application.properties
backend/app/src/test/java/com/stringwiz/app/AppApplicationTests.java
backend/app/src/main/java/com/stringwiz/app/services/TokenEncryptionService.java
