.landing-register-link {
    background-color: #121212 !important;
    border: none;
    border-radius: 8px !important;
    color: #fafafa !important;
    text-transform: capitalize !important;
}
.landing-register-link:hover {
    background-color: #0e8b9f !important;
    border-color: #0e8b9f !important;
    color: #fafafa !important;
}
.landing-register-link:focus {
    background-color: #0e8b9f !important;
    color: #fafafa !important;
}