.login-header-text {
    font-size: 2.5rem;
    font-family: 'Nunito Sans', serif;
    font-weight: 700;
    color: #121212;
}
.login-req {
    font-family: 'Nunito Sans', serif;
    font-size: 1rem;
    color: #121212 !important;
}
.input-group {
    width: 25rem;
    margin: auto;
}
.input-group-text {
    background-color: #fafafa;

}
.login-btn {
    width: 25em;
    color: #fafafa;
    background-color: #121212;
}
.login-btn:hover {
    background-color: #551de2;
    color: #fafafa;
}
.login-btn:focus {
    background-color: #121212;
}
.sign-up {
    color: #58bcdb;
}
.sign-up:hover {
    color: #4296af;
}
.form-control {
    border-left: none;
}
.sign-in {
    padding: 1.5rem 2.5rem 4rem 2.5rem;
    border-radius: 20px;
    background-color: #f7f7f7;
}