.home-header-invite-button {
    padding: 2px 13px 2px 9px;
    border-radius: 8px !important;
    border: .1px solid #a7a7a7;
    background-color: #0f5255;
    color: #dfdfdf;
    font-weight: 600;
    font-family: 'Lato';
    font-size: 1.03rem;
}
.home-header-invite-button:hover {
    background-color: #1d6063;
    color: #fafafa;
}

.home-header-sidebar-icon {
    padding: 2px;
    /* background-color: red; */
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    width: 28px;
    height: 28px;
}
.home-header-sidebar-icon:hover {
    background-color: #333436;
}