.customize-bg {
    background-color: #f8f8f8 !important;
    color: #1E1F21 !important;
    border: none !important;
}
.customize-bg:hover {
    background-color: #4411c6 !important;
    color: white !important;
    border: none !important;
}
.home-text {
    font-family: 'Nunito Sans', serif;
    font-size: 1.9rem;
    font-weight: 600;
}
.today {
    font-family: 'Nunito Sans', serif;
    font-size: 1.3rem;

}
.greeting {
    font-family: 'Lato', serif;
    font-size: 1.8rem;
    font-weight: 600;
}
.customize-typography {
    padding: 1rem;
}
.customize-btn {
    border: none !important;
    width: 2.5rem;
    height: 2.5rem;
}
#white-btn {
    background-color: #e7e7e7 !important;
}
#blue-btn {
    background-color: #044863 !important;
}
/* #gradient1-btn {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
} */
.background-color-check {
    width: 2.2rem !important;
    /* right: 2rem !important; */
}
.customize-customization-text, .customize-background-text {
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: #fafafa
}
.customize-background-text {
    font-size: 1.3rem;
    color: #fafafa
}
.theme-color-div {
    border: none !important;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
}
#abestos-theme-btn {
    background-color: #7f8c8d;
}
#turquoise-theme-btn {
    background-color: #1abc9c;
}
#black-theme-btn {
    background-color: #1e1f21;
}
#emerald-theme-btn {
    background-color: #2ecc71;
}
#peter-river-theme-btn {
    background-color: #233a79;
}
#amethyst-theme-btn {
    background-color: #6a115a;
}
#sunflower-theme-btn {
    background-color: #f1c40f;
}
#carrot-theme-btn {
    background-color: #e67e22;
}
#alizarin-theme-btn {
    background-color: #e74c3c;
}
.customization-day-night-theme-switch {
    font-family: 'Nunito Sans', serif !important;
}