.task-card-card {
    font-family: 'Nunito Sans' !important;
    width: 100% !important;
    border: 2px solid #313234 !important;
    border-radius: 10px !important;
    padding:0 !important;
    background-color: transparent !important;
}
@media (max-width: 1200px) {
    .task-card-card {
        width: 100% !important;
    }
}
.user-home-create-task-button-dark {
    font-family: 'Nunito Sans', serif;
    text-transform: initial;
    font-weight: 600;
    padding: 6px 0px;
    border-radius: 7px;
}
.user-home-create-task-button-dark:hover {
    background-color: #25262a !important;
    color: #b7b7b7 !important;
}
.user-home-new-task-input {
    padding: 0 0 0 4px !important;
    background-color: #1e1f21;
}
.user-home-new-task-input .mantine-Input-input {
    background-color: transparent;
    border: none;
    color: #e7e7e7;
    padding:4.224px 14.08px;
    font-family: 'Poppins';
    /* padding:0; */
}
.table-container-wrapper {
    height: 22rem; 
    overflow: auto;
}
.table-container {
    width: 100%;
    border-collapse: separate !important;
}
.table-row:hover, .tag-dropdown-item:hover {
    background-color: #eeeeee !important;
}


/* new */
.user-home-card-body .ant-tabs {
    padding:15px !important;
}
.user-home-card-body .ant-tabs .ant-tabs-nav::before {
    display: none;
}
.user-home-card-body .ant-tabs-tab {
    color: #999999;
    font-family: 'Lato';
    font-size: 17px;
    padding:8px 14px;
    border-radius: 6px;
    width: 33% !important;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.user-home-card-body .ant-tabs-tab:hover {
    background-color: #35363a;
}
.user-home-card-body  .ant-tabs-tab-active .ant-tabs-tab-btn,
.user-home-card-body .ant-tabs-tab-btn:active,
.user-home-card-body .ant-tabs-tab-btn:focus,
.user-home-card-body .ant-tabs-tab:hover {
    color:#eaeaea !important;
}

.ant-tabs-nav-list {
    width:100% !important;
}
.ant-tabs-nav-list .ant-tabs-ink-bar {
    transition: width 0s ease-in-out, left 0s ease-in-out, right 0s ease-in-out !important;
    border-radius: 10px !important;
    background-color: #2fa295 !important;
    transform: translateX(-50%) !important;
}
.user-home-card-body  .ant-tabs .ant-tabs-nav-operations {
    display: none;
}