
.tcd-dropdown button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0.4rem;
    width: fit-content;
    color: #fafafa;
    background: #262729;
    border: 0;
    cursor: pointer;
    font-family: "Lato";
    transition: 0.3s;
    height: 2.6rem;
  }
  .tcd-dropdown > button {
    background: #1d1e1f;
    border-radius: 6px 6px 6px 6px;
  }
  .tcd-dropdown > button .tcd-model-dropdown-current-icon:first-child {
    background: #2a2b2c !important;
  }
  .tcd-dropdown:hover > button,
  .tcd-dropdown button:hover {
    color: #f9f9f9;
  }
  
  .tcd-model-dropdown-menu button:hover .tcd-model-dropdown-current-icon:first-child {
    color: #00fbff !important;
    background-color: #4b5858;
  }
    
  .tcd-model-dropdown-menu {
    position: absolute;
    z-index: 1;
    top: 60px;
    height: auto;
    cursor:default;
    max-height: 240px;
    overflow: auto;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    border-radius: 6px;
    background-color: #262729;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .tcd-tag-options-dropdown .tcd-model-dropdown-menu {
    top: 50px;
    left: 0px;
    width: 200px;
  }
  .tcd-dropdown.open .tcd-model-dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: 0.3s;
    min-height: 12rem;
  }
  .tcd-model-dropdown-menu button:hover {
    background: #1d1e1f;
  }
  /* tag options related */
  .tcd-tag-options-dropdown.open .tcd-model-dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    min-height: 7rem;
    /* left: -75px; */
  }

  /* new */
/* .user-home-task-details-modal-tags-button-options:hover {
    color: #fafafa;
}
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-options.dropdown-closed,
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-options.dropdown-open  {
    display: inline-block;
}
.user-home-task-details-modal-tags-button-options.tag-rename-active {
    display: none !important;
}
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-options.tag-rename-inactive {
    display: inline-block !important;
} */


.tcd-model-dropdown-color-circle {
    width: 2rem;
    height: 2rem;
    /* background-color: #ffff9f; */
    border-radius: 20%;
}
.tcd-model-dropdown-color-circle:hover {
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.5) !important; */

}