.bottom-description {
    color: #4a4a4a;
    font-size: 0.97em;
}
.signup-top-text {
    font-size: 3.8rem;
    color: #121212;
}
.illustration-div {
    height: 100vh;
    background-color: #551de2;
    padding: 0 1rem;
}
.illustration {
    width: 32rem !important;
}
@media(width > 1280px) {
    .illustration-div {
        padding: 0 3rem;
    }
}
@media(max-width: 1280px) {
    .illustration {
        width: 28rem !important;
    }
}
@media (max-width: 991px) {
    .illustration-div {
        width: 100%;
        height: 70vh;
    }
}
.input-group,.register-continue {
    margin: auto;
    width: 25rem;
}
.register-continue {
    background-color: #121212;
}
.register-continue:hover {
    background-color: #551de2;
}
.register-continue:active {
    background-color: #121212 !important;
}
.form-control::placeholder {
    font-family: 'Lato', serif;
    color: #9a9a9a;
}
.form-control {
    border-left: none;
    border-radius: 12px;
    border-color: #cfcfcf;
}
.form-control:focus {
    border: 1.3px solid #82dfc4;
    box-shadow: none !important;
}
.input-group-text {
    background-color: #f7f7f7;
    border-radius: 12px;
    border-color: #cfcfcf;
}
.input-label {
    margin:auto;
    width: 25em;
    text-align:start;
    padding-left: 0.1rem;
    font-family: 'Nunito Sans', serif;
    color: #5a5a5a;
}
.logo_icon {
    width: 3em;
}
.signup-center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #fefefe;
}
.login-text:hover {
    color: #551de2;
}
.coconut-sign-up-text {
    width: 2.95rem !important;
}
.signup-icon {
    color: #121212;
    width: 1.3rem !important;
}
.password-form-control:focus + .visibility-btn {
    border-color: #82dfc4 !important;
}
.visibility-btn {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    background-color: white;
    border: 1px solid #cfcfcf !important;
    border-left: none !important;
}

.visibility-icon {
    color: #121212 !important;
    width: 1.2rem !important;
}
.password-form-control {
    border-right: none !important;
}