.home-text {
    font-family: 'Poppins', serif;
    font-size: 1.7rem;
}
.today {
    font-family: 'Nunito Sans', serif;
    font-size: 1.3rem;
}
.greeting {
    font-family: 'Nunito Sans', serif;
    font-size: 2.1rem;
    font-weight: 600;
}
.tasks-text {
    font-family: 'Ubuntu', serif;
    font-weight: 600;
}
.my-card {
    width: 110%;
    background-color: #f8f8f8 !important;
}
@media(width < 1200px) {
    .my-card {
        width: 100%;
        margin:auto;
    }
}
@media(width < 1000px) {
    .my-card {
        width: 95%;
        margin:auto;
    }
}
.add-task-icon {
    width: 0.9em !important;
}
.create-task-button {
    background-color: rgb(218,218,218) !important;
    color: black !important;
    font-family: 'Lato', serif !important;
    font-size: 0.9em !important;
}
.create-task-button:hover {
    background-color: #58bcdb !important;
    top: 20%;
    transition: .7s;
    -webkit-transform: translateY(-4px);
	transform: translateY(-4px);
    /* position: absolute; */
}

.checklist-rtl-icon {
    background-color: #58bcdb !important;
    width:3.5rem !important;
    height:3.5rem !important;
    border-radius: 50%;
    padding: 10px;
}
.default-tab-text {
    font-family: 'Ubuntu', serif !important;
}
.error-message {
    color: #c90825;
}
.cc {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}
.status-item,.priority-item {
    border: 1.5px solid white !important;
    font-family: 'Lato', serif !important;
}
.status-item:hover, .priority-item:hover, .create-task-btn:hover {
    background-color: #58bcdb !important;
}
.bg-high {
    background-color: #551de2 !important;
}
.bg-medium {
    background-color: rgb(86, 89, 215) !important;
}
.bg-low {
    background-color: rgb(103, 153, 245) !important;
}
.create-task-btn {
    background-color: rgb(86, 89, 215) !important;
    border: none !important;
}
.nav-item:hover {
    transition: .7s;
    background-color: #58bcdb !important;
}
.nav-item {
    border-radius: 2%;
}