.tasks-text {
    font-family: 'Ubuntu', serif;
    font-weight: 600;
}
.my-card {
    width: 110%;
    background-color: #f8f8f8 !important;
}
@media(max-width: 1200px) {
    .my-card {
        width: 100%;
        margin:auto;
    }
}
@media(max-width: 1000px) {
    .my-card {
        width: 95%;
        margin:auto;
    }
}
.add-task-icon {
    width: 0.9em !important;
}
.create-task-button {
    background-color: rgb(218,218,218) !important;
    color: black !important;
    font-family: 'Poppins', serif !important;
    font-size: 0.95em !important;
    font-weight: 600 !important;
}
.create-task-button:hover {
    background-color: #58bcdb !important;
    top: 20%;
    transition: .7s;
    -webkit-transform: translateY(-4px);
	transform: translateY(-4px);
    /* position: absolute; */
}

.checklist-rtl-icon {
    background-color: #58bcdb !important;
    width:3rem !important;
    height:3rem !important;
    border-radius: 50%;
    padding: 8px;
}
.default-tab-text {
    font-family: 'Lato', serif !important;
}
.error-message {
    color: #c90825;
}
.cc {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}
.status-item,.priority-item {
    border: 1.5px solid white !important;
    font-family: 'Lato', serif !important;
}
.status-item:hover, .priority-item:hover, .create-task-btn:hover {
    background-color: #58bcdb !important;
}
.bg-high {
    background-color: #551de2 !important;
}
.bg-medium {
    background-color: #5659d7 !important;
}
.bg-low {
    background-color: #6799f5 !important;
}
.bg-stuck {
    background-color: #d2392e !important;
}
.bg-todo {
    background-color: #e6a64c !important;
}
.bg-inprogress {
    background-color: #c1da5e !important;
}
.bg-completed {
    background-color: #6ecb43 !important;
}

.create-task-btn {
    background-color: #5659d7 !important;
    border: none !important;
}
.nav-item:hover {
    transition: .7s;
    background-color: #58bcdb !important;
}
.nav-item {
    border-radius: 2%;
}
.table-row:hover {
    background-color: #eeeeee !important;
}

.task-check:hover {
    cursor: pointer;
    color: green !important;
}
.taskName-text {
    font-size: 0.95rem !important;
    padding: 0.3em 1em;
    border: none !important;
    /* width: 100% !important;  */
    /* text-overflow: clip; 
    overflow: hidden;
    white-space: nowrap; */
    /* max-width: 350px; */

    /* display: inline-block; */
}
.taskName-text.strikethrough {
    text-decoration: line-through;
}
/* [contenteditable] {
    outline: 0px solid transparent;
} */
.more-horiz:hover {
    cursor: pointer;
    background-color: #cacaca !important;
    border-radius: 20%;
}
.nav-tabs .nav-link {
    border: none;
}
.popper-btn {
    background-color: white !important;
    color: black !important;
    border: none !important;
    border-radius: 0% !important;
}
.popper-btn:hover {
    background-color: #cacaca !important;
    /* border: none !important; */
}

.popper-btn:not(:first-child) {
    border-top: 0.8px solid rgb(86, 89, 215) !important;
}
.status-icon:hover {
    color: rgb(86, 89, 215) !important;
    display: block !important;
}
.priority-icon:hover {
    color: rgb(210, 56, 46) !important;
    display: inline !important;
}
.due-date-icon:hover {
    color: rgb(103, 153, 245) !important;
    display: block !important;
}
.table-cell-icon {
    color: #1E1F21 !important;
    width: 0.88em !important;
    /* display: none !important; */
    /* visibility: hidden; */
    cursor: pointer;
    position: relative;
}
.table-row:hover .table-cell-icon  {
    display: block !important;
    /* visibility:visible !important; */
}
/* .table-cell-icon:focus {
    display: block !important;
    visibility:visible !important;
    background-color: red !important;
} */

.status-list-item-btn:hover, .priority-list-item-btn:hover  {
    background-color: rgb(86, 89, 215) !important;
    color: white !important;
}
.date-calendar-btn {
    background-color: white !important;
    color: #3874CB !important;
    border: none !important;
    font-family: 'Lato', serif !important;
    font-weight: 800 !important;
    font-size: 0.92em !important;
}
.date-calendar-btn:hover {
    background-color: #3874CB !important;
    color: white !important;
}
.MuiPickersDay-today {
    border: none !important;
}
.status-item-hide, .priority-item-hide {
    visibility: hidden;
}
.check-icon {
    width: 2.4rem !important;
    height: 2.4rem !important;
    color: white;
    border-radius: 50%;
    background-color: rgb(86, 89, 215);
    display: flex;
    justify-content: center !important;
    margin: 0 auto !important;
}