.left-header-block {
    width: 24rem;
}
.left-header-text {
    font-size: 3.66rem;
    font-family: 'Lato', serif;
    font-weight: 600;
    color: #fafafa;
}
.coconut {
    width: 3.3rem !important;
}
.description {
    font-family: 'Montserrat', serif;
    font-size: 1.2em;
    color: #fafafa;
    font-weight: 600;
}
.how_it_works {
    border: 2px solid #223654;
    background-color: #223654;
    color: #fafafa;
}
.how_it_works:hover {
   background-color: #58bcdb;
}
.cocollabs_logo {
    width: 21.3rem;
}
.header {
    background: #4e21d9; 
    background: -webkit-linear-gradient(to right, #4e21d9, #cc655e); 
    background: linear-gradient(to right, #4e21d9, #cc655e);
}
a {
    text-decoration: none;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.circle {
    width: 16.5rem; /* Adjust the width and height to change the circle size */
    height: 16.5rem;
    border-radius: 13.5%; /* Creates a circle */
    background-color:  #39474e;   /* #3498db */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.home-illustration {
    width: 15.9rem;
} 
.bg-illustrations-div {
    background-color: #121212;/*#192339;*/
}
.circle-text {
    width: 18.5rem;
    font-size: 1.16rem;
    font-weight: 600;
    font-family: 'Nunito Sans', serif;
    color: #fafafa;
}
.main-key-words {
   color: #9153ed;
}
.home-description-card {
    border-radius: 25px;
    transition: all .3s ease-in-out; 
    background-color: #263552;
}
.home-description-card:hover {
    transform: scale(1.05); 
}
.feature-number {
    width: 6rem; 
    height: 6rem;
    border-radius: 50%;
    background-color:  #8956e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-number-text {
    font-size: 2.1rem;
}
.feature-desc {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    max-width:34rem;
}
.features-header {
    font-size: 2.4rem;
}
.hp-screenshot {
    border-radius: 35px;
}
.computer-look-header {
    font-size: 2.45rem !important;
}
.computer-look-description {
    font-size: 1.36rem !important;
}
.computer-look-sub-description {
    font-size: 1.1rem !important;

}
.computer-look-icon {
    width: 2rem !important;
    height: 2rem !important;
}
.register-home-page, .learn_more-home-page {
    color: #fafafa !important;
    text-transform: capitalize !important;
    font-size: 0.98rem !important;
    font-weight: 500 !important;
    border-radius: 30px !important;
    padding: 0.8rem 1.1rem !important;
}
.register-home-page {
    background-color: #121212 !important;
    border: 1px solid #121212 !important;
}
.register-home-page:hover {
    background-color: #4296af !important;
    color: #fafafa;
    border: 1px solid #4296af !important;
}
.learn_more-home-page {
    background-color: #4294af !important;
    border: 1px solid #4294af !important;
    color: #fafafa !important;
}
.learn_more-home-page:hover {
    background-color: #5b25c1 !important;
    color: #fafafa !important;
    border: 1px solid #5b25c1 !important;
}