.top-left-header-text {
    font-size: 3rem;
    font-weight: 600;

    font-family: 'Nunito Sans', serif;
}
.coconut {
    width: 2.8rem !important;
    padding-top: 0.3rem;
}
.description {
    font-family: 'Montserrat', serif;
    font-size: 1.07rem;
    color: #fafafa;
}
.header {
    background: #4e21d9; 
    background: -webkit-linear-gradient(to right, #4e21d9, #cc655e); 
    background: linear-gradient(to right, #4e21d9, #cc655e);
}
a {
    text-decoration: none;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.circle {
    width: 16.5rem;
    height: 16.5rem;
    border-radius: 13.5%;
    background-color:  #39474e;   /* #3498db */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.home-illustration {
    width: 15.9rem;
} 
.bg-illustrations-div {
    background-color: #121212;/*#192339;*/
}
.circle-text {
    width: 18.5rem;
    font-size: 1.16rem;
    font-weight: 500;
    font-family: 'Nunito Sans', serif;
    color: #fafafa;
}
.main-key-words {
   color: #9153ed;
}
.home-description-card {
    border-radius: 25px;
    transition: all .3s ease-in-out; 
    background-color: #263552;
}
.home-description-card:hover {
    transform: scale(1.05); 
}
.feature-number {
    width: 6rem; 
    height: 6rem;
    border-radius: 50%;
    background-color:  #8956e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-number-text {
    font-size: 2.1rem;
}
.feature-desc {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    max-width:34rem;
}
.features-header {
    font-size: 2.4rem;
}
.hp-screenshot {
    border-radius: 35px;
}
.computer-look-header {
    font-size: 2.45rem !important;
}
.computer-look-description {
    font-size: 1.36rem !important;
}
.computer-look-sub-description {
    font-size: 1.1rem !important;

}
.computer-look-icon {
    width: 2rem !important;
    height: 2rem !important;
}
.register-home-page {
    color: #dbdbdb !important;
    text-transform: capitalize !important;
    font-size: 0.98rem !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    padding: 0.8rem 1.1rem !important;
}
.learn_more-home-page {
    background-color: #101010 !important;
    color: #dedede !important;
    text-transform: capitalize !important;
    font-size: 0.98rem !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    padding: 0.6rem 1rem !important;
}
.register-home-page {
    background-color: rgb(9, 38, 105) !important;
    border: none !important;
}
.register-home-page:hover, .learn_more-home-page:hover {
    background-color: #4e21d9 !important;
}
.illustration-landing {
    width: 15rem;
}
.bottom-half, .top-half {
    height: 50%;
    width: 100%;
}
.bottom-half {
    background-color: #121212;
}
.landing-info-div {
    background-color: #f1f3f4;
    border-radius: 7px;
}
.landing-info-header {
    font-size: 2rem;
    font-weight: 600;
    color: #121212;
    color: rgb(9, 38, 105);
}