.top-left-header-text {
    font-size: 3rem;
    font-weight: 600;

    font-family: 'Nunito Sans', serif;
}
.coconut {
    width: 2.8rem !important;
    padding-top: 0.3rem;
}
.description {
    font-family: 'Montserrat', serif;
    font-size: 1.07rem;
    color: #fafafa;
}
.header {
    background: #0ebbcf; 
    background: -webkit-linear-gradient(to right, #0ebbcf, #2a54fd); 
    background: linear-gradient(to right, #0ebbcf, #2a54fd);
}
a {
    text-decoration: none;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.register-home-page {
    color: #dbdbdb !important;
    text-transform: capitalize !important;
    font-size: 0.98rem !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    padding: 0.8rem 1.1rem !important;
    font-family: 'Nunito Sans', serif !important;
    background-color: #092669 !important;
    border: none !important;
}
.learn_more-home-page {
    font-family: 'Nunito Sans', serif !important;
    background-color: #161616 !important;
    color: #dedede !important;
    text-transform: capitalize !important;
    font-size: 0.98rem !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    padding: 0.6rem 1rem !important;
}
.register-home-page:hover, .learn_more-home-page:hover {
    background-color: #1d3a7d !important;
}
.illustration-landing {
    width: 15rem;
}
.bottom-half, .top-half {
    height: 50%;
    width: 100%;
}
.bottom-half {
    background-color: #fafafa;
}
.landing-info-div {
    background-color: #d8e5e4 !important;
    border-radius: 8px !important;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.landing-info-header {
    font-size: 2rem;
    font-weight: 600;
    color: #121212;
}
.landing-page-features-div {
    background-color: #fafafa;
    color: #fafafa;
}
.landing-page-features-div-header {
    font-size: 2.35rem;
    width: 85%;
    margin: auto;
    color: #161616;
    /* font-family: 'Open Sans'; */
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400;
}
.landing-page-features-card-container {
    /* width: 2rem;
    height: 2rem; */
    width: 80%;
    margin: auto;
    background-color: #fafafa;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 39px 5px;
    color: #121212;
    border-radius: 10px;
}
.landing-page-features-card-container-name {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Nunito Sans';
}
.landing-page-features-card-container-icon {
    width: 2rem !important;
    height: 2rem !important;
}
.landing-page-features-card-container {
    background-color: #fafafa;
    min-width: 350px;
    height: 270px;
    border-radius: 10px;   

}
.landing-page-features-card-container-bkg {
    height: 70px;
    border-radius: 10px 10px 0px 0px;
}
.landing-page-features-card-profile .landing-page-features-card-icon {
    height: 60px;
    width: 65px;
    border-radius: 50%;
    margin-top: -35px;
    padding: 7px;
    background-color: #fafafa;
}
.landing-page-features-card-name {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Nunito Sans';
    color: #202020;
}
.landing-page-features-card-desc {
    font-size: 1.05rem;
    /* font-weight: 600; */
    font-family: 'Nunito Sans';
    color: #202020;
    height: 90px !important;
}
.landing-page-features-card-button {
    /* color: #07d3de; */
    font-family: 'Nunito Sans' !important;
    background-color: none !important;
    font-size: 1.07rem !important;
    text-transform: capitalize !important;
}
.landing-page-features-card-button:hover, .landing-page-features-card-button:focus {
    background-color: #fafafa !important;
}