
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-options.dropdown-closed,
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-options.dropdown-open  {
    display: inline-block;
}
.user-home-task-details-modal-tags-button-options.tag-rename-active {
    display: none !important;
}
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-options.tag-rename-inactive {
    display: inline-block !important;
}

.tag-options-input .mantine-Input-input {
    background-color: #323335 !important;
    border: 1px solid #fafafa;
    /* border-bottom: 1.5px solid #898989 !important; */
    z-index: 1 !important;
    color: #fafafa !important;
    border-radius: 5px !important;
    padding:0 5px;
    font-family: 'Lato';
    transition: border .4s ease;
}
.tag-options-input .mantine-Input-input:focus {
  border-color: rgb(48, 109, 188) !important;
}