.tooltip-container {
    display: inline-block;
    transition: all 2s ease-in;

}
.tooltip-text {
    position:absolute;
    /* top: 140px; */
    transform: translateX(-50%);
    background-color: teal;
    color: #fafafa;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Lato';
    z-index: 1000;
    min-width: 110px;
    transition: all 2s ease-in;
}