.user-home-task-details-modal-header-parent {
    border-bottom: 1px solid #898989;
    padding: 5px 10px;
}
.user-home-task-details-modal-header {
    border-bottom: none;
    display:flex;
    align-items: center;
}
.user-home-task-details-modal-header .mantine-Breadcrumbs-separator {
    margin-inline: 3px !important;
}
.user-home-task-details-modal-breadcrumbs {
    color: #dedede !important;
    font-size: 1rem !important;
}
.user-home-task-details-created-on {
    font-size: 0.9rem;
    color: #fafafa
}
.user-home-task-details-modal-header-right-btn {
    height: 2.2rem;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-home-task-details-modal-header-right-btn:hover {
    background-color: #292a2c;
    border-radius: 4px;
}
.user-home-task-details-modal-share-btn {
    background-color: #0f5255 !important;
    border: none !important;
    color: #fafafa !important;
    font-family: 'Lato' !important;
    display:flex !important;
    align-items: center !important;
    transition: all 0.55s linear !important;
    padding: 0px 11px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    font-size: 15px !important;
}
.user-home-task-details-modal-share-btn:hover, 
.user-home-task-details-modal-share-btn:focus {
    background-color: #0f6265 !important;
}
.user-home-task-details-modal-close-btn {
    color: #898989 !important;
    width: 1.6rem !important;
    height: 1.6rem !important;
    cursor: pointer;
}