.onboarding-add-new-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 5.5rem;
    border: 3px dashed #d5d7dbfa;
    border-radius: 50%;
    color: #a0a2a6fa;
    background-color: white;
    transition: all 0.7s ease;
}
.onboarding-add-new-profile-button:hover {
    cursor: pointer;
    color: #39ab37;
    border-color: #39ab37 !important;
}
.onboarding-new-profile-parent {
    border-radius: 50% !important;
    width: 7rem !important;
    height: 7rem !important;
    position:relative;
    transition: all 0.4s ease;
    --avatar-bg: none !important;
}
.onboarding-new-profile {
    color: #fafafa;
    font-size: 38px;
    font-weight: 500;
}

.onboarding-profile-selected {
    position: absolute !important;
    border-radius: 50% !important;
    background-color: green !important;
    width: 35px !important;
    height: 35px !important;
    right: 0 !important;
    top: 0 !important;
    border: 3px solid #f1f4f6 !important;
    transition: all 0.4s ease;
}
.onboarding-profile-selected-icon {
    height:29px !important;
    width:29px !important;
    display:flex !important;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 3px;
    position:relative;
    margin: auto;
    transition: all 0.4s ease;
}
.upload-icon {
    color: #66686a !important;
}
.ant-upload:hover,
.ant-upload:hover .upload-icon 
{
    border-color: #228be6 !important;
    color: #228be6 !important;
}
.ant-upload-list-item-container, .ant-upload-select {
    width: 85px !important;
    height: 85px !important;
}
.ant-upload-list-item .ant-upload-list-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-upload-list-item .ant-upload-list-item-actions svg:hover {
    color: #b6b8ba !important;
}
.ant-upload-list-item.selected {
    border-color:#228be6 !important;
}
/* .onboarding-profile-options-parent-parent {
    background-color: #eaedf3;
    border-radius: 20px;
    padding: 20px 25px;
    cursor: pointer;
} */
.onboarding-profile-options-parent {
    cursor: pointer;
    background-color: #f1f4f6;
    border-radius: 20px;
    padding: 25px 40px 30px 40px;
    box-shadow: rgba(137, 59, 151, 0.25) 0px 5px 25px 5px, rgba(17, 59, 151, 0.25) 0px 10px 10px;
}
.text-name {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 125px;
}
.onboarding-steps-inner-content {
    background-color: #f9f9f9 !important;
    border:none !important;
}
.onboarding-bottom-button {
    transition: all 1.2s ease;
}

@media(max-width: 360px) {
    .onboarding-profile-options-parent {
        padding: 15px 30px 20px 30px;
    }
    .onboarding-new-profile-parent {
        width: 6rem !important;
        height: 6rem !important;
    }
    .onboarding-profile-selected {
        width: 30px !important;
        height: 30px !important;
    }
    .onboarding-profile-selected-icon {
        width: 25px !important;
        height: 25px !important;
        padding: 2px;
    }
    .onboarding-new-profile {
        font-size: 33px;
    }
    .onboarding-bottom-button {
        width: 150px !important;
    }

}