.onboarding-add-new-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: white;
    background-color: #c3c5c9;
    transition: all 0.8s ease;
}
.onboarding-add-new-profile-button:hover {
    background-color: #228be6 !important;
    cursor: pointer;
}
.onboarding-new-profile-parent {
    border-radius: 50% !important;
    width: 6rem !important;
    height: 6rem !important;
    position:relative;
    transition: all 0.4s ease;
}
.onboarding-new-profile-parent {
    --avatar-bg: none !important;
}
.onboarding-new-profile {
    color: #fafafa;
    font-size: 28px;
    font-weight: 500;
}

.onboarding-profile-selected {
    position: absolute !important;
    border-radius: 50% !important;
    background-color: green !important;
    width: 30px !important;
    height: 30px !important;
    right: 0 !important;
    top: 0 !important;
    border: 3px solid white !important;
}
.onboarding-profile-selected-icon {
    height:25px !important;
    width:25px !important;
    display:flex !important;
    color: white;
    justify-content: center;
    align-items: center;
    padding:3px;
    position:relative;
    margin: auto;
}

.ant-upload:hover,
.ant-upload:hover .upload-icon 
{
    border-color: #228be6 !important;
    color: #228be6 !important;
}
.ant-upload-list-item-container, .ant-upload-select {
    width: 85px !important;
    height: 85px !important;
}
.ant-upload-list-item .ant-upload-list-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-upload-list-item .ant-upload-list-item-actions svg:hover {
    color: #b6b8ba !important;
}
.ant-upload-list-item.selected {
    border-color:#228be6 !important;
}