.task-creation-modal {
    .ant-modal-footer {
        display: none;
    }
    .ant-modal-content {
        background-color: #1e1f21;
        border: 1px solid #57585a;
        padding: 0;
    }
    .ant-modal-close {
        display: none;
    }
    .ant-modal-body {
        color: #fafafa;
    }
    button { background-color: #048a66; }
    button[disabled] {
        background-color: #434446;
        color: #838486;
        cursor: auto;
    }
    .mantine-Textarea-root .mantine-Textarea-wrapper textarea {
        background-color: transparent !important;
        border: 1px solid transparent;
        padding:0;
    }
    .title .mantine-Textarea-wrapper textarea {
        font-size: 22px;
        color: #fafafa !important;
    }
    .description .mantine-Textarea-wrapper textarea {
        font-size: 15.6px;
        color:#e0e2e6 !important;
    }
    .description .mantine-Textarea-wrapper textarea::placeholder {
        color:#b0b2b7;
    }
}


.nextui-calendar-popover-trigger-button {
    opacity: 1 !important;
    --tw-scale-x: 1 !important;
    --tw-scale-y: 1 !important;
    /* transform: none !important; */
}
.task-creation-tiptap {
    .tiptap {
        padding:0;
        min-height: 70px;
        color: #e0e2e6;
    }
    .tiptap p {
        font-size: 15px;
    }
    .tiptap p::before {
        color:#b0b2b7 !important;
    }
}