.model-dropdown-search {
    width: 100%;
    height: 2.4rem;
}
.model-dropdown-search-input {
    background-color: rgb(35, 36, 38) !important;
    border: none !important;
    border-bottom: none !important;
    z-index: 1 !important;
    color: #fafafa !important;
    border-radius: 1px !important;
    padding:0;
}
.model-dropdown-search-input .mantine-Input-input {
    background-color: rgb(35, 36, 38) !important;
    border: none !important;
    /* border-bottom: 1.5px solid #898989 !important; */
    z-index: 1 !important;
    color: #fafafa !important;
    border-radius: 1px !important;
    padding:0 5px;
    font-family: 'Lato';
}
.model-dropdown-search-input::placeholder {
    color: #898989;
    font-family: 'Lato';
}
.task-card-content-dropdown-item {
    width: 87% !important;
    color: #fafafa !important;
    font-family: 'Lato';
    /* margin: 4px 0px; */
    display: flex;
    align-items: center;
    margin: 4px auto;
    /* padding: 5px 10px !important; */
}
.task-card-content-dropdown-item:hover {
    background-color: #303133 !important;
}

.model-dropdown-search-wrapper {
    position: sticky;
    top: 0;
    background-color: #232426;
    z-index: 1;
}
.model-dropdown-items {
    flex-grow: 1;
    overflow-y: auto;
    height: 150px;
}

.tag-options-button-div {
    border-radius: 4px;
    padding: 0 3px;
}
.tag-options-button-div:hover {
    background-color: #535456;
}


.mantine-dropdown-model .mantine-Menu-item:hover {
    background: #303133 !important;
}