.user-home-calendar-text {
    color: #fafafa;
    font-family: "Lato";
    font-weight: 600;
    font-size: 1.2rem;
}
.user-home-calendar-date-picker .mantine-DatePicker-weekday,
.user-home-calendar-date-picker .mantine-DatePicker-monthCell button,
.user-home-calendar-date-picker .mantine-DatePicker-monthsListControl,
.user-home-calendar-date-picker .mantine-DatePicker-yearsListControl {
    color: #fafafa;
}
.user-home-calendar-date-picker .mantine-DatePicker-monthCell button:not([data-selected="true"]):hover,
.user-home-calendar-date-picker .mantine-DatePicker-calendarHeaderControl:hover,
.user-home-calendar-date-picker .mantine-DatePicker-calendarHeaderLevel:hover,
.user-home-calendar-date-picker .mantine-DatePicker-monthsListControl:hover,
.user-home-calendar-date-picker .mantine-DatePicker-yearsListControl:hover {
    background-color: #323539 !important;
}
.user-home-calendar-date-picker .mantine-DatePicker-day[data-selected="true"] {
    background-color: #338b6f !important;
}
.user-home-calendar-date-picker .mantine-focus-auto {
    outline: none !important;
}
.user-home-calendar-date-picker .MuiPickersCalendarHeader-labelContainer .MuiButtonBase-root,
.user-home-calendar-date-picker .MuiButtonBase-root,
.user-home-calendar-date-picker .MuiDayCalendar-root .MuiDayCalendar-header .MuiTypography-root,
.user-home-calendar-date-picker .MuiDayCalendar-weekContainer .MuiButtonBase-root{
    color: #fafafa !important;
    border: none !important;
}
.MuiPickersYear-yearButton {
    text-align: center !important;
}
/* .user-home-calendar-current-day-item {
    color: #c8c8c8;
    background-color: #323539;
    border-radius: 8px;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #525559;
} */
.user-home-calendar-current-day-item {
    color: #c8c8c8;
    /* background-color: #323539; */
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #525559;
    font-family: 'Lato';
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.user-home-calendar-current-daytime-item {
    border-radius: 15px;
    padding: 4px 12px;
    color: #fafafa;
    font-size: 13px;
    background-color: #323539;
    display: flex;
    align-items: center;
}
.user-home-calendar-current-daytime-item.upcoming {
    background-color: #136fe7;
}
.user-home-calendar-current-daytime-item.delayed {
    background-color: rgb(179, 52, 30);
}
.user-home-calendar-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #fafafa;
}
.user-home-calendar-item-type-name {
    background-color: #338b6f;
    color: #fafafa;
}
.user-home-calendar-date-picker-indicator {
    z-index: 10;
}
.user-home-calendar-date-picker-indicator .mantine-Indicator-indicator {
    color: #fafafa !important;
}
.user-home-calendar-current-day-item-name-button {
    /* border: 1px solid #044c95; */
    /* background-color: #94fcf5da; */
    /* color: #248c85; */
    background-color: #323539;
    border-radius: 15px;
    padding: 2px 14px;
}
.user-home-calendar-current-day-item-priority-name-button {
    /* background-color: #1c1c1c; */
    color: #f4f2f9;
    border-radius: 15px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
}
.user-home-calendar-current-day-item-priority-name-button.critical {
    border: 1px solid #0a90f0d7;
    color: #0a90f0d7;
    background-color: transparent;
}
.user-home-calendar-current-day-item-priority-name-button.high {
    /* background-color: #af0a0aaf; */
    border: 1px solid #d60c0cd7;
    color: #d60c0cd7;
    background-color: transparent;
}
.user-home-calendar-current-day-item-priority-name-button.medium {
    /* background-color: #f49209af; */
    border: 1px solid #f49209d7;
    color: #f49209d7;
    background-color: transparent;
}
.user-home-calendar-current-day-item-priority-name-button.low {
    /* background-color: #797979af; */
    border: 1px solid #797979d7;
    color: #797979d7;
    background-color: transparent;
}