
.user-home-sidebar {
    top: 100px !important;

}
.user-home-all-content {
    height: calc(100vh - 4.5rem) !important;
    overflow-y: scroll;
    position: relative !important;
    top: 70px;
    transition: margin 0.27s linear;

    /* margin: 0 1rem 0 5.8rem; */
    margin: 0 1rem 0 4.25rem;
}
.user-home-all-content-left-spacing {
    padding-left: 1.6rem;
}
.user-home-all-content.open {
    
    margin-left: 15.5rem;
    transition: margin 0.27s linear;
}
.user-home-main-content {
    width: 52.5rem;
    /* border-right: 1px solid #222222; */
}
.user-home-right-content {
    width: 26.3rem;
    border-radius: 10px !important;
}

/* task and project cards */
.user-home-card-header {
    font-weight: 600;
    font-size: 1.35rem;
    border-radius: 7px 7px 0px 0px!important;
    font-family: 'Lato';
}
.user-home-card-body {
    padding: 0;
    background-color: #1E1F21;
    box-sizing: none;
}
.css-19kzrtu {
    padding: 18px !important;
}
.user-home-card-task-tabs-appbar .MuiTabs-indicator {
    background-color: #1e1f21;
}
.user-home-card-task-tab {
    color: #fafafa !important;
    text-transform: capitalize !important;
    font-size: 1rem !important;
    font-family: 'Lato' !important;
    border-bottom: none !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.user-home-card-task-tab:hover {
    background-color: #2e2f31;
}

/* calendar */
.user-home-right-side-block, .task-card-parent, .calendar-block-parent,.milestone-block-parent {
    transition: width 0.35s ease;
}
@media (min-width: 992px) {
    .user-home-right-side-block {
      width: 46%;
    }
    .task-card-parent {
        width: 100%;
    }
}
/* @media (min-width: 1200px) {
    .user-home-right-side-block {
      width: 39%;
    }
    .task-card-parent {
        width: 61%;
    }
} */
@media (min-width: 1210px) {
    .user-home-right-side-block {
      width: 50%;
    }
    .task-card-parent {
        /* width: 50%; */
        width: 100%;
    }
}
@media (max-width: 991px) {
    .calendar-block-parent, .milestone-block-parent {
      width: 50%;
    }
}
@media (max-width: 880px) {
    .calendar-block-parent,.milestone-block-parent {
      width: 100%;
    }
}


.user-home-tooltip {
    border: .1px solid #898989;
    padding: 5px 12px !important;
    font-family: 'Inter' !important;
    border-radius: 6px !important;
}