
.user-home-sidebar {
    top: 100px !important;

}
.user-home-all-content {
    position: relative !important;
    top: 90px;
    transition: margin 0.3s linear;

    margin: 0 2.5rem 0 8rem;
}
.user-home-all-content.open {
    
    margin-left: 20rem;
    transition: margin 0.3s linear;
}
.user-home-main-content {
    width: 52.5rem;
    /* border-right: 1px solid #222222; */
}
.user-home-right-content {
    width: 26.3rem;
    border-radius: 10px !important;
    /* border-left: 1px solid #222222; */
}

/* task and project cards */
.user-home-card-header {
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 7px 7px 0px 0px!important;
    font-family: 'Lato';
}
.user-home-card-body {
    border-radius: 0px 0px 7px 7px!important;
    padding: 0;
    background-color: #1E1F21;
    box-sizing: none;
}
.css-19kzrtu {
    padding: 18px !important;
}
.user-home-card-task-tabs-appbar .MuiTabs-indicator {
    background-color: #1e1f21;
}
.user-home-card-task-tab {
    color: #fafafa !important;
    text-transform: capitalize !important;
    font-size: 1rem !important;
    font-family: 'Lato' !important;
    border-bottom: none !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

/* calendar */
.user-home-calendar-date-picker .MuiPickersCalendarHeader-labelContainer .MuiButtonBase-root,
.user-home-calendar-date-picker .MuiButtonBase-root,
.user-home-calendar-date-picker .MuiDayCalendar-root .MuiDayCalendar-header .MuiTypography-root,
.user-home-calendar-date-picker .MuiDayCalendar-weekContainer .MuiButtonBase-root{
    color: #fafafa !important;
    border: none !important;
}
.MuiPickersYear-yearButton {
    text-align: center !important;
}
.user-home-calendar-current-day-item {
    color: #c8c8c8;
    /* width: 70%; */
    background-color: #323539;
    border-radius: 8px;
    align-items: center;
    padding: 10px 15px;
    /* justify-content: center; */
}
.user-home-calendar-current-daytime-item {
    border-radius: 8px;
    padding: 6px 8px;
    color: #fafafa;
}
.user-home-calendar-current-daytime-item.upcoming {
    background-color: #0d6f22;
}
.user-home-calendar-current-daytime-item.delayed {
    background-color: rgb(175, 31, 31,0.75);
}


/* new calendar */
.user-home-calendar-text {
    color: #fafafa;
    font-family: "Lato";
    font-weight: 600;
    font-size: 1.2rem;
}
.user-home-calendar-date-picker .mantine-DatePicker-weekday,
.user-home-calendar-date-picker .mantine-DatePicker-monthCell button,
.user-home-calendar-date-picker .mantine-DatePicker-monthsListControl,
.user-home-calendar-date-picker .mantine-DatePicker-yearsListControl {
    color: #fafafa;
}
.user-home-calendar-date-picker .mantine-DatePicker-monthCell button:not([data-selected="true"]):hover,
.user-home-calendar-date-picker .mantine-DatePicker-calendarHeaderControl:hover,
.user-home-calendar-date-picker .mantine-DatePicker-calendarHeaderLevel:hover,
.user-home-calendar-date-picker .mantine-DatePicker-monthsListControl:hover,
.user-home-calendar-date-picker .mantine-DatePicker-yearsListControl:hover {
    background-color: #323539 !important;
}
.user-home-calendar-date-picker .mantine-DatePicker-day[data-selected="true"] {
    background-color: #338b6f !important;
}