.date-time-picker-btn:hover {
    color: #3874CB !important;
}
.MuiPickersLayout-actionBar {
    display: none !important;
}
.user-home-time-picker .MuiTimePickerToolbar-ampmSelection .MuiButtonBase-root .MuiTypography-root.Mui-selected {
    color: #3874CB !important;
}
.user-home-time-picker {
    background-color: #222529 !important;
}
.user-home-time-picker .MuiPickersToolbar-root .MuiTypography-root,
.user-home-time-picker .MuiTimePickerToolbar-hourMinuteLabel .MuiButtonBase-root .MuiTypography-root,
.user-home-time-picker .MuiTimePickerToolbar-hourMinuteLabel .MuiTypography-root,
.user-home-time-picker  .MuiTimeClock-root .MuiClock-root .MuiClock-clock,
.user-home-time-picker .MuiClock-clock .MuiClock-wrapper .MuiClockNumber-root,
.user-home-time-picker .MuiTimeClock-root .MuiButtonBase-root,
.date-time-picker-btn
{
    color: #fafafa !important;
    font-family: 'Lato', serif;
    
}
.user-home-time-picker .MuiTimePickerToolbar-ampmSelection .MuiButtonBase-root .MuiTypography-root:hover {
    color: #3874CB !important;
}
/* .user-home-time-picker .MuiTimePickerToolbar-ampmSelection .MuiButtonBase-root:active .MuiTypography-root {
    color: red !important;
} */
.date-time-picker-btn {
    cursor: pointer;
}
.user-home-time-picker .MuiPickersLayout-contentWrapper .MuiTimeClock-root .MuiClock-root .MuiClock-clock {
    background-color: #222529 !important;
    font-family: 'Lato', serif;
}

.date-calendar-btn {
    background-color: #222529 !important;
    color: #fafafa !important;
    border: none !important;
    font-family: 'Lato', serif !important;
    font-weight: 800 !important;
    font-size: 0.92em !important;
}
.date-calendar-btn:hover {
    color: #3874CB !important;
}
.user-home-date-picker .MuiPickersCalendarHeader-labelContainer .MuiButtonBase-root,
.user-home-date-picker .MuiButtonBase-root,
.user-home-date-picker .MuiDayCalendar-root .MuiDayCalendar-header .MuiTypography-root,
.user-home-date-picker .MuiDayCalendar-weekContainer .MuiButtonBase-root{
    color: #fafafa !important;
}
.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    border-radius: 10px !important;
    box-shadow: 0px 3px 3px -3px rgba(137, 106, 106, 0.2),0px 2px 2px 1px rgba(137, 106, 106, 0.2),0px 3px 5px 2px rgba(137, 106, 106, 0.2);
    background-color: #222529 !important;
}
.user-home-calendar-date-time-picker .mantine-TimeInput-input {
    background-color: #222529 !important;
    color: #fafafa !important;
    width: 8.5rem;
}
.user-home-calendar-today {
    font-size: 0.95rem;
    font-weight: 600;
    color: #338b6f;
    cursor: pointer;
    border: 1px solid #338b6f;
    padding: 6px 11px;
    border-radius: 5px;
}
.user-home-calendar-today.clicked {
    color: #fafafa;
    background-color: #338b6f;
    transition: all 0.4s ease;
}
.user-home-calendar-time-picker .ant-picker-input input::placeholder {
    color: #bababa;
}
.user-home-calendar-time-picker .ant-picker-input .ant-picker-suffix {
    color: #fafafa;
}
.ant-popover-inner {
    background-color: #222529 !important;
    border-radius: 10px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
    transition-duration: 0.3s !important;
    transition-property: all !important;
    transition-timing-function: ease-in-out !important;
    margin-top: 5px !important;
}
.user-home-calendar-time-picker .ant-picker-input input {
    color: #fafafa !important;
    font-family: 'Lato';
}
/* .ant-picker-panel-container {
    display: none !important;
} */
.user-home-calendar-time-picker .ant-picker-clear {
    color: #fafafa !important;
}
.ant-picker-panel-container {
    background-color: #222529 !important;
}
.ant-picker-panel-container .ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
    background-color: #338b6f !important;
}
.ant-picker-panel-container .ant-picker-time-panel-cell-inner {
    color: #fafafa !important;
}
.ant-picker-now-btn {
    color: #fafafa;
}