.modal-backdrop {
    z-index: 100;
}
.user-home-task-details-modal-body {
    max-height: 700px !important;
    min-height: 630px !important;
    overflow-y: auto;
}
.resizable-modal-container {
    transition: width 0.3s ease-in-out; 
    z-index: 105;
}
.modal-dialog {
    min-width: 80% !important;
    margin: auto;
    transition: width 0.3s ease-in-out;
    overflow-y:auto !important;
}
.modal-content {
    background-color: #222325;
    color: #fafafa;
}
@media (max-width: 1200px) {
    .modal-dialog {
        min-width: 95% !important;
    }
}
.user-home-task-details-modal-close-btn {
    color: #898989 !important;
    width: 1.6rem !important;
    height: 1.6rem !important;
    cursor: pointer;
}
.user-home-task-details-modal-header {
    border-bottom: none;
}
.user-home-task-details-modal-header-parent {
    border-bottom: 1px solid #898989;
}
.user-home-task-details-modal-breadcrumbs {
    color: #dedede !important;
    font-size: 1rem !important;
}
.user-home-task-details-created-on {
    font-size: 0.9rem;
    color: #fafafa
}
.user-home-task-details-modal-header-right-btn {
    height: 2.2rem;
    margin: auto;
}
.user-home-task-details-modal-header-right-btn:hover {
    background-color: #292a2c;
    border-radius: 4px;
}
.user-home-task-details-modal-share-btn {
    background-color: #7730e2;
    border: none;
    color: #fafafa;
    font-family: 'Lato';
}
.user-home-task-details-modal-share-btn:hover, .user-home-task-details-modal-share-btn:focus {
    background-color: #9850ff;
    transition: all 0.55s linear;
}
.user-home-task-details-modal-assignee-initials-circle {
    position: relative;
    background-color: #389cbb;
    color: #fafafa;
    width: 2.1rem !important;
    height: 2.1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Lato';
    font-size: 0.95rem;
}
.user-home-task-details-modal-head-text {
    cursor: pointer;
    border-radius: 6px;
    padding: 0.45rem 0.6rem;
    /* width: 8rem; */
}
.user-home-task-details-modal-head-text:hover {
    background-color: #2c2d2f;
}
.user-home-task-details-modal-assignee-div, .user-home-task-details-modal-due-date-div {
    padding: 0.45rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    height: 100%;
}
.user-home-task-details-modal-assignee-div:hover, .user-home-task-details-modal-due-date-div:hover {
    background-color: #2c2d2f;
}
.assignee-circle-icon-hider, .assignee-circle-icon-remove {
    display: none !important;
}
.user-home-task-details-modal-assignee-div:hover .assignee-circle-icon-hider {
    color: #2c2d2f; 
    position: absolute;
    top: 0;
    right: 0;
    margin: -0.3rem; 
    width: 1rem !important;
    height: 1rem !important;
    display:block !important;
}
.user-home-task-details-modal-assignee-div:hover .assignee-circle-icon-remove {
    width: 1.4rem !important;
    height: 1.4rem !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: -0.55rem;
    display:block !important;
    color: #5e5f61;
}
.user-home-task-details-modal-due-date-remove {
    opacity: 0;
    width: fit-content !important;
    width: 0 !important;
}
.user-home-task-details-modal-due-date-div:hover .user-home-task-details-modal-due-date-remove {
    opacity: 1;
    color: #898989;
}
.user-home-task-details-modal-due-date-remove-icon:hover {
    color: #c90825 !important;
}
/* .user-home-task-details-modal-status-search-input::before, 
    .user-home-task-details-modal-status-search-input::after {
    border: none !important;
} */
.user-home-task-details-modal-status-btn, .user-home-task-details-modal-priority-btn {
    padding: 0.2rem 0.7rem;
    font-family: 'Nunito Sans' !important;
    color: #fafafa;
    border-radius: 5px;
    background-color: #222325 !important;
    border: 1.5px solid #898989;
    /* border-right: none; */
    margin-right: 5px;
    transition: border 0.45s linear;
}
.user-home-task-details-modal-status-set-complete-btn {
    padding: 0.35rem 0.4rem;
    border-radius: 5px;
    border: 1.5px solid #323437;
    color: #fafafa;
    background-color: #222325 !important;
    transition: border 0.45s linear;
}
.user-home-task-details-modal-next-status-btn {
    padding: 0.35rem 0.4rem;
    /* border-radius: 6px; */
    border: 1.5px solid #323437;
    color: #fafafa;
    background-color: #222325 !important;
    transition: border 0.45s linear;
    border-radius: 0px 6px 6px 0px;
    width : 2rem;
}
.user-home-task-details-modal-status-btn:hover, .user-home-task-details-modal-status-set-complete-btn:hover,
.user-home-task-details-modal-priority-btn:hover, .user-home-task-details-modal-no-status-btn:hover,
.user-home-task-details-modal-next-status-btn:hover {
    border-color: #7730e2;
    transition: border 0.45s linear;
}
.user-home-task-details-modal-no-priority-btn {
    background-color: #222325;
    border-radius: 50%;
    border: 1px dashed #898989;
    width: 2.5rem;
    height: 2.5rem;
    color: #898989;
    transition: border 0.45s linear;
}
.user-home-task-details-modal-task-options-btn {
    color: #999999 !important;
    border: 1.5px solid #999999;
    transition: border 0.45s linear;
    font-family: 'Lato';
}
.user-home-task-details-modal-task-options-btn:hover {
    background-color: #2a2b2d;
    border-color: #7730e2;
    transition: border 0.45s linear;
}
.user-home-task-details-modal-taskIdNumber {
    color: #999999 !important;
    border: 1.5px solid #999999;
    transition: border 0.45s linear;
    background-color: #222325 !important;
    font-family: 'Lato';
    width: 5.8rem;
    display: flex;
    justify-content: center;
}
.user-home-task-details-modal-taskIdNumber:hover {
    transition: border 0.45s linear;
    border-color: #7730e2;
}
.user-home-task-details-modal-tag {
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    color: #999999;
}
.user-home-task-details-modal-tag:hover {
    background-color: #292a2c;
}
.user-home-task-details-modal-description-textarea {
    background-color: #222325;
    border: 1px solid #222325 !important;
    resize: none;
    color: #e8e8e8;
    min-height: 60px !important;
    padding: 0.5rem 1rem;
    overflow: auto;
    border: 1px solid #898989 !important;
    transition: border 0.65s linear;
    border-radius: 8px !important;
    margin: 0 auto;
    font-family: 'Lato';
}
.user-home-task-details-modal-description-textarea:focus {
    background-color: #222325;
    color: #e8e8e8 !important;
    border-color: #7730e2 !important;
    transition: border 0.65s linear;
}
.user-home-task-details-modal-description-textarea::placeholder {
    color: #898989 !important;
}
.task-details-modal-tooltip {
    opacity: 1 !important;
    z-index: 1 !important;
    font-family: 'Open Sans' !important;
    text-align: center;
}
[contenteditable] {
    outline: none !important;
}
.user-home-task-details-modal-tags-group {
    position: relative;
    margin-left: 0.45rem;
    padding: 0.4rem 0.2rem;
    border-radius: 6px;
    background-color: #333437;
}
.user-home-task-details-modal-tags-button {
    padding: 0.3rem 0.4rem !important;
    position: relative;
}

.user-home-task-details-modal-tags-button-close {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); 
    color: rgb(255,255,255,0.75);
}
.user-home-task-details-modal-tags-button.focused {
    background-color: #333437 !important;
}
.user-home-task-details-modal-tags-button-close.unfocused:hover {
    color: #ffffff;
}
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-close.unfocused {
    display: inline-block !important;
}
.user-home-task-details-modal-tags-button-text {
    display: inline-block;
}
.user-home-task-details-modal-tags-button-text-input {
    display: inline-block;
    border: none;
    background-color: #333437 !important;
    width: 7rem;
    color: #fafafa;
}
.user-home-task-details-modal-tags-button-text-input:focus {
    outline: none !important;
}
.user-home-task-details-modal-tags-button-text-input:hover {
    background-color: #333437 !important;
}
.user-home-task-details-modal-tags-button:hover .user-home-task-details-modal-tags-button-text.unfocused {
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 65px) !important;
}