.onboarding-modal .mantine-Modal-title {
    /* font-family: "Sora", sans-serif !important; */
    font-size: 20px !important;
    font-weight: 600;
}
.onboarding-customize-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    color: #fafafa;
    font-size: 40px;
    font-weight: 500;
    transition: all 0.4s linear;
}
.onboarding-color-swatch-highlight {
    background: none;
    border: none;
    padding: 4px 18px;
    margin: 0;
    width: 2rem;
    border: 2.5px solid;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.onboarding-color-swatch-highlight.notActive:hover {
    border-style: solid;
    border-color: #d9dbde !important;
}
.onboarding-color-swatch {
    display: flex;
    justify-content: center;
    align-items: center;
}
.onboarding-upload-image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(3.85rem * var(--mantine-scale));
    height: calc(3.85rem * var(--mantine-scale));
    
}
.onboarding-upload-image-button,
.onboarding-upload-image-button .icon {
    transition: all 0.6s ease;
}