.login-paper-divider .mantine-Divider-label {
    font-size: 13.5px;
}

.auth-user-input-field.login label {
    color: #222222;
}

.login-image, .login-illustration-block {
    transition: width 0.5s ease;
}

@media(max-width: 1200px) {
    .login-illustration-block {
        width: 52% !important;
    }
}

@media(max-width: 1300px) {
    .login-image {
        width: 630px !important;
    }
}

@media(max-width: 991px) {
    .login-image {
        display: none !important;
    }
}

.login-back-arrow-icon {
    color: #367179;
    cursor: pointer !important;
}
.login-back-arrow-icon:hover {
    color: #064149 !important;
}

.login-oauth-button {
    width: 80% !important;
    transition: width 0.5s ease;
}
@media(max-width: 480px) {
    .login-oauth-button, .login-container-block {
        width: 100% !important;
    }
}

.login-oauth-button:hover {
    background-color: #eaedef !important;
}