body {
    margin: 0;
    padding: 0;
}
.img-fluid-custom {
    margin:auto;
    width: 14.8rem;/*230px;*/
    padding:0;
}
@media (max-width: 991px) {
    .navbar-brand {
        text-align: center;
        margin: auto;
        display: inline-block;
    }
    .sidebar {
        backdrop-filter: blur(40px);
    }
}
.nav-link{
    font-size: 0.85em;
}
@media (width < 1200px) {
    .dropdown-menu {
        width: 60%;
    }
}
.offcanvas-header {
    color: #4296af;
    border-bottom-color: #4296af;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul li ul li {
    clear: both;
    width: 100%;
}
.nav-link:hover {
    color: black;
    font-weight: bold;
}
.register {
    background-color: #121212;
    border: 2px solid #121212;
}
.register:hover {
    background-color: #4296af;
    color: #fafafa;
}
.login {
    color: #fafafa !important;
}
.login:hover {
    color: #4296af !important;
}
.navbar {
    height: 6.2rem; /*todo*/
}
.navbar-brand {
    text-align: center;
    margin: auto;
    display: inline-block;
}
.cocollabs-navy {
    background-color: #223654;
}