.img-fluid {
    text-align: center;
    margin:auto;
}
.user-button {
    background-color: #58bcdb;
    display: flex; 
    border-radius: 50%;
    width:3rem;
    height:3rem;
    border: none !important ;
}
.nav-side-button {
    display: flex; 
    border-radius: 50%;
    width:3.4rem;
    height:3.4rem;
    border: none !important ;
    color: #fafafa;
}
.user-button:hover {
    border: none !important;
    background-color: #551de2;
}

.initials {
    font-size: 1.35rem;
    font-family: 'Lato', serif;
    text-transform: uppercase;
}
.navbar {
    background-color: #222222;
}
.notis {
    border-radius: 30%;
    padding: 0.5rem;
    width: 75% !important;
    height: 75% !important;
}
.notis:hover {
    background-color: #d1d1d1;
    border-radius: 30%;
    transition: .3s;
}
.nav-top-link {
    color: #223654 !important;
    font-family: 'Lato', serif;
    font-size: 1rem !important;
}

.logout {
    background-color: #fafafa;
    border: none;
    width: 100% !important;
}
.logout-menu {
    width: 108% !important;
    left: -31% !important;
    margin-left: 2.9rem !important;
}
.logout-menu-icon {
    padding-left: 0.3% !important;
}

.my-profile:hover {
    background-color: #58bcdb !important;
}