
.dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0.4rem;
  width: fit-content;
  color: #fafafa;
  background: #262729;
  border: 0;
  cursor: pointer;
  font-family: "Lato";
  transition: 0.3s;
  height: 2.6rem;
}
.selected-item-btn {
  border: 2px solid #323437 !important;
  transition: border 0.45s linear !important;
  padding: 0rem  0rem;
}
.selected-item-half-rounded-btn {
  border: 2px solid #323437 !important;
  transition: border 0.45s linear !important;
  padding: 0rem  0rem;
  border-radius: 6px 0px 0px 6px !important;
}
.selected-item-btn:hover, .selected-item-half-rounded-btn:hover, 
.user-home-task-details-modal-next-status-btn:hover {
  border-color: #7730e2 !important;
  transition: border 0.45s linear;
}
.dropdown > button {
  background: #1d1e1f;
  border-radius: 6px 6px 6px 6px;
}
.dropdown > button .model-dropdown-current-icon:first-child {
  background: #2a2b2c !important;
}
.dropdown:hover > button,
.dropdown button:hover {
  color: #f9f9f9;
}

.model-dropdown-menu button:hover .model-dropdown-current-icon:first-child {
  color: #00fbff !important;
  background-color: #4b5858;
}

.dropdown.open > button .model-dropdown-arrow-icon {
  rotate: -180deg;
}
.dropdown button .model-dropdown-arrow-icon {
  margin-left: auto;
  transition: 0.3s;
}
  
.model-dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 60px;
  /* right:auto; */
  /* right: 0px; */
  width: 200px;

  /* width: 100%; */
  /* height: 250px; */
  height: auto;
  max-height: 240px;
  overflow: auto;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  border-radius: 6px;
  background-color: #262729;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.tag-options-dropdown .model-dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 30px;
  width: 170px;
  height: auto;
  max-height: 240px;
  overflow: auto;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  border-radius: 6px;
  background-color: #262729;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.right {
  right: -10px;
}
.left {
  left: 0;
}
.model-dropdown-desc-text {
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 0.9rem;
  color: #c9c9c9;
}

.dropdown.open .model-dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  min-height: 12rem;
}
.model-dropdown-menu button:hover {
  background: #1d1e1f;
}
.model-dropdown-item-menu-button {
  width: 100% !important;
  border: 0;
  height: 45px !important;
  border-radius: 0;
  /* text-transform: capitalize; */
}
.model-dropdown-item-menu-button-wTypeOption:last-child, 
.model-dropdown-item-menu-button-clear:last-child{
  border-top: 1px solid rgb(137,137,137);
} 
.dropdown button .model-dropdown-current-icon:first-child {
  background-color: #454f64;
  color: #afb3b5;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.model-dropdown-search {
  width: 100%;
  height: 2.4rem;
}
.model-dropdown-search-input {
  background-color: #262729 !important;
  border: none !important;
  border-bottom: none !important;
  z-index: 1 !important;
  color: #fafafa !important;
  border-radius: 1px !important;
}
.model-dropdown-current-icon > .MuiSvgIcon-root {
  padding: 2.9px;
}
.user-home-task-details-modal-no-priority-btn {
  background-color: #1e1f21;
  border-radius: 4px !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: #898989 !important;
}
.user-home-task-details-modal-tag-btn {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  color: #999999 !important;
}
.user-home-task-details-modal-tag-btn:hover, .user-home-task-details-modal-no-priority-btn:hover {
  background-color: #292a2c;
}
.user-home-task-details-modal-next-status-btn {
  padding: 0.35rem 0.4rem;
  border: 1.5px solid #323437;
  color: #fafafa;
  background-color: #1e1f21 !important;
  transition: border 0.45s linear;
  border-radius: 0px 6px 6px 0px;
  width : 2rem;
}
.model-dropdown-search-input::placeholder {
  color: #898989;
  font-family: 'Lato';
}

/* tag options related */
.tag-options-dropdown .user-home-task-details-modal-tag-btn {
  background: none;
  width: fit-content;
  color: rgb(255,255,255,0.75) !important;
}
.tag-options-dropdown .user-home-task-details-modal-tag-btn:hover {
  color: #fafafa !important;
}
.tag-options-dropdown.open .model-dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  min-height: 7rem;
}