.table-row-dark:hover .table-row-new-dark {
    background-color: #2f3032 !important;
}
/* .table-row-dark:hover{
    background-color: #2f3032 !important;
} */
.table-row-dark:hover .user-home-calendar-icon-div {
    display: flex !important;
    visibility:visible;
}
.table-cell:hover .user-home-new-task-input{
    background-color: #2f3032 !important;
}
.table-cell {
    font-family: 'Nunito Sans', serif !important;
    /* padding: 0.85rem 0rem !important; */
    margin: 0rem 1.2rem !important;
    overflow: hidden !important;
    border: none !important;
    border-radius: 10px;
    padding: 14px 16px !important;
    height: 55px !important;
}
.table-cell:hover {
    background-color: #2f3032 !important;
}
.table-cell-icon:hover {
    display: inline !important;
}
.user-home-task-check-icon {
    width: 1.15rem !important;
    height: 1.15rem !important;
}
.user-home-task-check-icon:hover {
    cursor: pointer;
    color: #048a66 !important;
}
.task-name-link {
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none !important
}
.task-name-link:hover {
    color: #fafafa;
}
.taskName-text:focus {
    outline: none !important;
}
.taskName-text {
    font-size: 0.88rem !important;
    padding: 0.3em 1em;
    border: none !important;
    font-family: 'Poppins', serif;
    color: #fafafa;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.taskName-text.strikethrough {
    text-decoration: line-through;
}
.user-home-calendar-icon-div {
    color: #e7e7e7;
    border: 1px dashed #73cbaf;
    padding: 0.35rem 0.2rem;
    cursor: pointer;
    border-radius: 50%;
    visibility: hidden;
}
.user-home-calendar-icon {
    color: #e7e7e7;
    width: 1.3rem !important;
    height: 1rem !important;
}
.user-home-chosen-due-date-text {
    cursor: pointer;
}