.table-row-dark:hover .table-row-new-dark {
    background-color: #2f3032 !important;
}
/* .table-row-dark:hover{
    background-color: #2f3032 !important;
} */
.table-row-dark:hover .user-home-calendar-icon-div {
    display: flex !important;
    visibility:visible;
}
.table-cell:hover .user-home-new-task-input{
    background-color: #2f3032 !important;
}
.table-cell {
    font-family: 'Lato', serif !important;
    font-size: 15px;
    /* padding: 0.85rem 0rem !important; */
    /* margin: 0rem -1rem !important; */
    overflow: clip !important;
    border: none !important;
    border-radius: 6px;
    position: relative;
    /* padding: 14px 16px !important; */
    height: 50px !important;
    transition: all 1s ease;
}
.table-cell:hover {
    background-color: #2f3032 !important;
}
.user-home-task-check-icon {
    width: 1.15rem !important;
    height: 1.15rem !important;
}
.user-home-task-check-icon:hover {
    cursor: pointer;
    color: #048a66 !important;
}
.task-name-link {
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none !important
}
.task-name-link:hover {
    color: #fafafa;
}
.task-name-text:focus {
    outline: none !important;
}
.task-name-text {
    margin: auto !important;
    font-size: 0.88rem !important;
    padding: 0.3em 1em;
    border: none !important;
    font-family: 'Poppins', serif;
    color: #fafafa;
    
    /* overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important; */
    /* width: 280px; */
}
.table-cell:hover .task-name-text {
    /* padding:0 !important; */
    /* white-space: nowrap;
    overflow:clip;
    text-overflow: ellipsis;
    width: calc(100% - 292px) !important; */
    margin:0 !important;
}
.task-name-text.strikethrough {
    text-decoration: line-through;
}
.user-home-calendar-icon-div {
    color: #e7e7e7;
    border: 1px solid #969696;
    padding: 0.35rem 0.2rem;
    cursor: pointer;
    border-radius: 6px;
    visibility: hidden;
    display: flex;
    align-items: center;
}
.user-home-calendar-icon-div:hover {
    background-color: #414243;
}
.user-home-calendar-icon {
    color: #e7e7e7;
    width: 1.3rem !important;
    height: 1rem !important;
}
.user-home-chosen-due-date-text {
    cursor: pointer;
}

.table-cell-icon {
    display: none;
}

.table-cell:hover .user-home-chosen-due-date-text {
    display: none;
}

.table-cell:hover .table-cell-icon {
    display: inline !important;
}

.table-cell-tooltip {
    display: none;
}

/* Display icons when the table cell is active */
.table-cell.active .table-cell-icon {
    display: inline !important;
}
.table-cell.active .table-cell-icon div {
    visibility: visible;
}

/* Optional: Ensure that when a cell is active, the due date text is hidden as well */
.table-cell.active .user-home-chosen-due-date-text {
    display: none;
}

/* Your other styles */
.task-card-content-accordion {
    font-family: 'Lato';
    padding: 5px 0px !important;
    border-radius: 4px;
}

.task-card-content-accordion .mantine-Accordion-chevron {
    margin-inline-end: var(--mantine-spacing-sm);
    margin-inline-start: 0 !important;
    padding: 3px 3px;
    width: 25px;
    display: flex;
    justify-content: left;
    border-radius: 4px;
}

.task-card-content-accordion .mantine-Accordion-chevron:hover {
    background-color: #303133;
}

.task-card-content-accordion .mantine-Accordion-label {
    flex: 0;
}

.task-card-content-accordion .mantine-Accordion-icon {
    margin: 0px 7px !important;
    margin-inline-end: var(--mantine-spacing-sm) !important;
}

.task-card-content-accordion:hover {
    background-color: transparent !important;
}

.task-card-content-accordion-panel .mantine-Accordion-content {
    padding: 0;
    padding-top: calc(var(--mantine-spacing-xs) / 2);
}

.user-home-task-set-complete:hover {
    color: teal;
    cursor: pointer;
}

.mantine-dropdown-model .mantine-Menu-item {
    background-color: #232426;
}