body.scroll-lock {
    overflow: hidden;
  }

.home-navbar-search-ss {
    background-color: #3c3e40;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #797979;
    cursor: pointer;
}
@media(max-width: 340px) {
    .home-navbar-search-ss {
        display: none;
    }
}
.home-navbar-search {
    width: 24rem;
    transition: width 0.45s ease;
}
@media(max-width: 990px) {
    .home-navbar-search {
        width: 24rem;
    }
}
@media(max-width: 800px) {
    .home-navbar-search {
        width: 17rem;
    }
}
.home-navbar-search-input {
    display: flex;
    align-items: center;

    .mantine-Input-input {
        /* font-family: 'Inter' !important; */
        color: #fafafa !important;
        height: 40px;
        border-radius: 5px;
        background-color: #393b3d;
    }
}
.home-navbar-search-input::before, .home-navbar-search-input::after {
    border-bottom: none !important;
}

.user-home-avatar-menu-target:hover {
    background-color: #343638;
}

.user-home-navbar-menu-dropdown {
    border: none !important;
    pointer-events: auto;
}

.home-navbar-menu-fullnamedesc {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 170px;
}
.user-home-navbar-icon-apps,.navbar-menu-sidebar-icon {
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}
.user-home-navbar-icon-apps:hover,.navbar-menu-sidebar-icon:hover {
    background-color: #37393b;
}