
button,
a {
    all: unset;
    font: inherit;
    cursor: pointer;
}

.link {
    display: flex;
    padding: 0.475rem 0.5rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
}
/* .hidden {
    display: none;
} */
/* body.active .hidden {
    display: inline;
} */

.link:hover {
    background-color: #2d2e30;
}
.link.active {
    cursor: default;
    background-color: #323335;
}
.link.active .sidebar-links-text {
    color: #6FE3C2;
}

.link > img {
    width: 24px;
    height: 24px;
}

/* body.active .toggle-btn {
  transform: rotate(180deg);
} */

.user-avatar {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: scale 0.2s ease;
}
.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.user-avatar:hover {
    scale: 1.1;
}


/* new */
.resize-handle {
    width: 4px; /* Handle width */
    cursor: col-resize; /* Cursor change on hover */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: #666666f5; */
    opacity: 0.6;
    transition: all 0.8s ease-in-out;
  }
  .resize-handle:hover {
    /* right: 0 !important;
    top: 0 !important;
    bottom: 0 !important; */
    background-color: #525559 !important;
    
  }
  
.home-sidebar-profile-parent-div.active button {
    width: 90%;
    padding:calc(0.5rem * var(--mantine-scale)) var(--mantine-spacing-xs);
}

.profile-avatar {
    transition: filter 0.52s linear; /* Smooth transition */
}
.profile-avatar:hover {
    filter: brightness(1.34); /* Adjusts the brightness by 20% */
}