.tag-deletion-modal {
    .ant-modal-content {
        background-color: #1e1f21;
        border: 1px solid #57585a;
        padding:0;
    }
    .ant-modal-footer {
        display: none;
    }
    .ant-modal-close {
        display: none;
    }
    .ant-modal-body {
        color: #fafafa;
    }
    .delete-tag-button:hover {
        background-color: #313336 !important;
    }
}