.project-card-card {
    font-family: 'Nunito Sans';
    width: 90%;
    border: 2px solid #313234;
    border-radius: 10px;
}
@media (max-width: 1200px) {
    .project-card-card {
        width: 100%;
    }
}