.root {
    position: relative !important;
    padding: 10px 0px !important;
    background-color: transparent !important;
    border: none !important;
  
}
  
.label {
    font-family: Inter !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
    color: #E7E7E7 !important;
}
  
.description {
    margin-top: 8px !important;
    color: var(--mantine-color-dimmed) !important;
    font-size: 11.5px !important;
}