.landing-navbar {
  transition: background-color 0.4s ease-in-out;
  height: 6.2rem;
}

.landing-nav-top-link,
.landing-white-nav-top-link {
  font-size: 1.1em;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
  display: flex;
  align-items: center;
}
.landing-nav-top-link {
  color: #fafafa !important;
}
.landing-white-nav-top-link {
  color: #181d26 !important;
}
/* .landing-nav-top-link:after,
.landing-white-nav-top-link:after {
  position: absolute;
  content: "";
  bottom: -0.2rem;
  left: 0;
  height: 0.075rem;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.landing-nav-top-link:after {
  color: #fafafa;
  background-color: #fafafa;
}
.landing-white-nav-top-link:after {
  color: #181d26;
  background-color: #181d26;
}
.landing-nav-top-link:hover:after,
.landing-white-nav-top-link:hover:after {
  width: 100%;
} */

.landing-login-link {
  color: #fafafa !important;
  font-size: 1.1rem;
  font-weight: 600;
  transition: width 0.3s ease-in-out;
}
.landing-white-nav-login-link {
  color: #4296af !important;
  font-size: 1.1rem;
  font-weight: 600;
  transition: width 0.3s ease-in-out;
}
.landing-login-link:hover {
  color: #dadada !important;
}
.landing-white-nav-login-link:hover {
  color: #22768f !important;
}

.landing-navbar-collapse-login-button {
  background-color: #ffffff !important;
  border: 1px solid #228be6 !important;
  color: #228be6 !important; 
  font-size: 1.02rem !important;
  max-width: 80px;
}
.landing-navbar-collapse-signup-button {
  background-color: #228be6 !important;
  border: 1px solid #228be6 !important;
  color: #ffffff !important; 
  font-size: 1.02rem !important;
  max-width: 80px;
}