.landing-navbar {
  transition: background-color 0.4s ease-in-out;
  height: 6.2rem;
}

.landing-nav-top-link,
.landing-white-nav-top-link {
  font-size: 1.15em;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
  display: flex;
  align-items: center;
  font-family: 'Lato' !important;
}
.landing-nav-top-link {
  color: #fafafa !important;
}
.landing-white-nav-top-link {
  color: #181d26 !important;
}

.landing-login-link, .landing-white-nav-login-link {
  font-size: 1.05rem !important;
  font-weight: 600;
  transition: width 0.3s ease-in-out;
  border-radius: 8px !important;
  background-color: transparent !important;
  border: none !important;
  font-family: 'Lato';
}
.landing-login-link:hover, .landing-white-nav-login-link:hover {
  color: #33b915 !important;
}
.landing-login-link {
  color: #fafafa !important;
  transition: color 0.4s ease-in-out;
}
.landing-white-nav-login-link {
  color: #222222 !important;
  transition: color 0.4s ease-in-out;
}

.landing-navbar-collapse-login-button {
  background-color: #ffffff !important;
  border: 1px solid #228be6 !important;
  color: #228be6 !important; 
  font-size: 1.02rem !important;
  max-width: 80px;
}
.landing-navbar-collapse-signup-button {
  background-color: #228be6 !important;
  border: 1px solid #228be6 !important;
  color: #ffffff !important; 
  font-size: 1.02rem !important;
  max-width: 80px;
}
.landing-register-link {
  background-color: #121212 !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  color: #fafafa !important;
  text-transform: capitalize !important;
  font-size: 1.05rem !important;
  font-family: 'Lato';
  border: none !important;
}
.landing-register-link:hover {
  background-color: #139905 !important;
}