@media (max-width: 991px) {
  .navbar-brand {
    text-align: center;
    margin: auto;
    display: inline-block;
  }
  .sidebar {
    backdrop-filter: blur(40px);
  }
}
/* @media (width < 1200px) {
  .dropdown-menu {
    width: 60%;
  }
} */
.offcanvas-header {
  border-bottom-color: #4296af;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.nav-top-link {
  font-size: 0.92em !important;
  color: #fafafa !important;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.nav-top-link:after {
  font-size: 0.92em !important;
  color: #fafafa !important;
  position: absolute;
  content: '';
  bottom: -0.2rem;
  left: 0;
  height: 0.075rem;
  width: 0;
  background-color: #fafafa;
  transition: width 0.3s ease-in-out;
}

.nav-top-link:hover:after {
  width: 100%;
}
.login {
  color: #fafafa !important;
  font-size: 1.1rem;
}
.login:hover {
  color: #8510e6 !important;
}
.navbar-brand {
  text-align: center;
  margin: auto;
  display: inline-block;
}
.home-page-navbar {
    background: #8510e6; 
    background: -webkit-linear-gradient(to right, #8510e6, #cc655e); 
    background: linear-gradient(to right, #8510e6, #cc655e);
}

.nav-top-link-offcanvas {
    color: #121212 !important;
}
.offCanvasOpen {
    background: #8510e6; 
    background: -webkit-linear-gradient(to right, #8510e6, #cc655e); 
    background: linear-gradient(to right, #8510e6, #cc655e);
}